#videos-wrapper{
	display: inline-block;
	float: left;
}

#graph-wrapper{
	overflow: hidden;
	/* 
	width: 50%; 
	float: left;
	*/
}

#orm_prediction_text{
	color: red
}

#vid_summary_container{
	margin: 10px;
}

.result{
	padding-left: 10px;
}
