{% extends "layout.html" %}
{% block body %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>

	<div id="videos-wrapper" class="d-inline">
		{% if video_list %}
			<nav id="video-nav" class="navbar navbar-default">
				<ul id="videos-menu" class="nav nav-pills nav-stacked">
					{% for video in video_list %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('graph_vid', vid=video.vid) }}">
								{{ video.s3_path.split('/')[2] }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		{% endif %}
	</div>


	{% if vid_data %}
	<div id="graph-wrapper" class="d-inline">
		<div id="vid_summary_container">
			<table id="stats_table">
				<th>Video Statistics</th>
				<tr>
					<td>Weight Lifted:</td>
					<td class="result">{{ vid_data['weight'] }}kg</td>
				</tr>
				<tr>
					<td>Average Speed:</td>
					<td class="result">{{ vid_data['average_speed'] }}m/s</td>
				</tr>
				<tr>
					<td><b>Estimated 1RM:</b></td>
					<td class="result"><b>{{ vid_data['max_prediction'] }}kg</b></td>
				</tr>
			</table>
		</div>

		<canvas id="vid_graph"></canvas>
		<script>
			var speed_data = [];
			var acceleration_data = [];
			var labels = [];

			var label_ctr = 1;
			var fps = {{ vid_data['fps'] }}
			var ctr = 1;
			var temp_store = 0;

			// Populate speed data in accordance with time
			// TODO: Average velocity is not representative of graph
			{% for v in vid_data['speed_data'] %}
				temp_store += {{ v }}
				if(ctr % fps == 0){
					speed_data.push(temp_store);
					labels.push(label_ctr++);
					temp_store = 0;
				}
				ctr++;
			{% endfor %}

			// Populate acceleration data in accordance with time
			ctr = 1;
			{% for v in vid_data['acceleration_data'] %}
				temp_store += {{ v }}
				if(ctr % fps == 0){
					acceleration_data.push(temp_store);
					temp_store = 0;
				}
				ctr++;
			{% endfor %}

			var context = $("#vid_graph");
			var data = speed_data;
			var vid_graph = new Chart(context, {
				type: 'line',
				data: {
					labels: labels,
					datasets: [{
						label: 'Speed',
						borderColor: '#3e95cd',
						fill: true,
						data: speed_data,
						spanGaps: true,
					},{
						label: 'Acceleration',
						borderColor: '#f45c42',
						fill: true,
						data: acceleration_data,
						spanGaps: true,
					}]
				}
			});
		</script>
	</div>
	{% endif %}
{% endblock %}

