{% extends "layout.html" %}
{% block body %}
	<form action="" method=POST class="form-horizontal">
		<h1>Login</h1>
		<div class="control-group">
			<div class="control">
				<input type="text" id="username" name="username" class="input-xlarge"
						placeholder="Username" value="{{request.form.username}}"
						required />
			</div>
			<div class="control">
				<input type="password" id="password" name="password" class="input-xlarge"
						placeholder="Password" value="{{request.form.password}}"
						required />
			</div>
			<div class="control">
				<input type="submit" id="login" name="login" value="Login" class="input-xlarge" />
			</div>
		</div>
	</form>
{% endblock %}
