{% extends "layout.html" %}
{% block body %}
	<script language='javascript' type='text/javascript'>
		function checkRegistration(form){
			if(form.password.value != form.password_conf.value){
				//TODO: Flash alert on screen
				alert("Passwords do not match");
				return false;
			}
			return true;
		}
	</script>

	<form action="" method=POST class="form-horizontal" onsubmit="return checkRegistration(this)">
		<h1>Register</h1>
		<div class="control-group">
			<div class="control">
				<input type="text" id="username" name="username" class="input-xlarge"
						placeholder="Username" value="{{request.form.username}}"
						required />
			</div>
			<div class="control">
				<input type="password" id="password" name="password" class="input-xlarge"
						placeholder="Password" value="{{request.form.password}}"
						required />
			</div>
			<div class="control">
				<input type="password" id="password_conf" name="password_conf" class="input-xlarge"
						placeholder="Confirm Password" value="{{request.form.password_conf}}"
						required />
			</div>
			<div class="control">
				<input type="email" id="email" name="email" class="input-xlarge"
						placeholder="Email" value="{{request.form.email}}"
						required />
			</div>
			<div class="control">
				<input type="submit" id="submit" name="submit" value="Submit" class="input-xlarge" />
			</div>
		</div>
	</form>

{% endblock %}
